.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .contentContainer {
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    width: 70%;
    max-width: 70%;
  }

